S3method(as.mixingm,table)
S3method(assort,default)
S3method(assort,igraph)
S3method(assort,table)
S3method(coleman,igraph)
S3method(mixingm,igraph)
S3method(print,mixingm)
export(as.mixingm)
export(assort)
export(coleman)
export(ei)
export(fold)
export(freeman)
export(gamix)
export(mixingm)
export(moody)
export(smi)
export(ssi)
export(symmetrize)
