S3method(assort,default)
S3method(assort,igraph)
S3method(assort,table)
export(assort)
export(coleman)
export(fold)
export(freeman)
export(gamix)
export(mixingm)
export(moody)
export(ssi)
export(symmetrize)
